<?xml version="1.0" encoding="utf-8"?>
<!-- IIS: WebDAV bazen POST'u 405 ile keser; multipart limiti artırılır. Yayında bu dosya publish çıktısına kopyalanır. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="31457280" />
        </requestFiltering>
      </security>
      <aspNetCore processPath=".\FethiyeKesfet.exe" arguments=".\FethiyeKesfet.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
    </system.webServer>
  </location>
</configuration>